@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Nunito Sans', sans-serif;
	background: url('../assets/img/apple-iphone-ipad-fotoapparat.jpg') no-repeat 50%;
	background-size: cover;
  font-size: 20px;
  overflow: hidden;
}

.keyboard {  
  position: absolute;
	color: #fff;
	transform: translateY(350px);
	bottom: 50px;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	max-width: 870px;
	gap: 10px;
	padding: 10px 10px 12px 10px;
	background-color: #5b6467;
	border-radius: 1rem;
	background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
	box-shadow: -4px -4px 10px #000;

	border-bottom: 4px solid #1a1a1a;
	border-right: 3px solid #1a1a1a;
	border-top: 1px solid #292929;
	border-left: 1px solid #292929;

	user-select: none;
	text-shadow: none;
  transition: .55s transform ease-in-out;
}

.keyboard.active {
  transform: translateY(0);
}

.keyboard__row { 
  display: flex;
  gap: 10px;
}


.keyboard__key { 
  font-size: 14px;
  position: relative;
  display: inline-block;
	width: 45px;
	height: 45px;
  background: url('../assets/img/gradient1.jpg') no-repeat 50%;
  background-size: cover;
	color: inherit;
	border-radius: 0.25em;
	box-shadow: 2px 2px 2px black;
	transition: .1s transform ease-in-out,
          .1s box-shadow ease-in-out,
          .1s background-image ease-in-out;

	text-shadow: inherit;
}
