@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
	list-style-type: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*body*/
body {
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: #4C4C4C;
	font-weight: 400;
}

.container {
	width: 100%;
	height: 100%;
	max-width: 1280px;
	padding: 0 40px;
	margin: 0 auto;
}
@media (max-width: 768px) {
	.container {
		padding: 0 30px;
	}
}
@media (max-width: 575px) {
	.container {
		padding: 0 10px;
	}
}

.container-pets {
	padding: 0 20px;
}
@media (max-width: 768px) {
	.container-pets {
		padding: 0 10px;
	}
}
@media (max-width: 575px) {
	.container-pets {
		padding: 0 5px;
	}
}

.section-button {
	display: block;
	color: #292929;
	font-family: Georgia, sans-serif;
	line-height: 22px;
	font-size: 17px;
	letter-spacing: 0.06em;
	padding: 15px 45px;
	border-radius: 25px;
	transition: 0.2s background-color linear;
}
.section-button:hover {
	background-color: #FDDCC4;
	border-color: #FDDCC4;
}

/*Typography*/
.h5 {
	font-family: Georgia, sans-serif;
	line-height: 17px;
	font-size: 15px;
	color: #545454;
	letter-spacing: 0.06em;
}

.h4 {
	font-family: Georgia, sans-serif;
	letter-spacing: 0.06em;
	line-height: 23px;
	font-size: 20px;
}

.h3 {
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.06em;
	color: #545454;
	font-family: Georgia, sans-serif;
}
@media (max-width: 575px) {
	.h3 {
		font-size: 25px;
		line-height: 32px;
		text-align: center;
	}
}

.h3-footer {
	color: #fff;
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.06em;
	color: #545454;
	font-family: Georgia, sans-serif;
}

.h2 {
	font-family: Georgia, sans-serif;
	color: #fff;
	font-size: 44px;
	line-height: 57px;
}
@media (max-width: 575px) {
	.h2 {
		font-size: 25px;
		line-height: 32px;
		text-align: center;
		letter-spacing: 0.06em;
	}
}

.paragraph-l {
	color: #CDCDCD;
}

.paragraph-s {
	color: #B2B2B2;
	font-size: 12px;
	line-height: 18px;
}

.color-dark-l {
	color: #545454;
}

.color-dark-3xl {
	color: #292929;
}

.gold {
	color: #F1CDB3;
}

.white {
	color: #fff;
}

.color-dark-s {
	color: #CDCDCD;
}

/*header*/
.header {
	position: absolute;
	width: 100%;
	margin-top: 60px;
	height: 60px;
	overflow: hidden;
}
@media (max-width: 768px) {
	.header {
		margin-top: 30px;
	}
}

.header__link {
	line-height: 24px;
	padding-bottom: 5px;
	transition: 0.25s linear color;
}
.header__link.active {
	color: #fff;
}
.header__link.active:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #F1CDB3;
	transition: 0.25s linear opacity;
}
.header__link:hover {
	color: #fff;
}

.header__link2 {
	line-height: 24px;
	padding-bottom: 5px;
	transition: 0.25s linear color;
}
.header__link2.active {
	color: #292929;
}
.header__link2.active:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #F1CDB3;
	transition: 0.25s linear opacity;
}
.header__link2:hover {
	color: #292929;
}

.header__link:fisrt-child {
	color: #fff;
}

.header__ul {
	display: flex;
}
@media (max-width: 720px) {
	.header__ul {
		visibility: hidden;
		position: absolute;
		left: 0;
	}
}

.nav-toggle {
	display: none;
	width: 30px;
	height: 22px;
	margin: auto 43px auto 0;
	background-color: inherit;
	border-top: 2px solid #F1CDB3;
	border-bottom: 2px solid #F1CDB3;
}
@media (max-width: 720px) {
	.nav-toggle {
		display: block;
	}
}
.nav-toggle:after {
	content: "";
	display: block;
	height: 2px;
	width: 100%;
	background-color: #F1CDB3;
	margin-top: 0px;
}

.nav-black {
	border-color: #000;
}
.nav-black:after {
	background-color: #000;
}

.header__li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding-bottom: 5px;
}
.header__li:not(:last-child) {
	margin-right: 35px;
}

.logo {
	font-family: Georgia, sans-serif;
	font-size: 32px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 0.06em;
}

.logo-suptitle {
	margin-top: 6px;
	font-size: 13px;
	letter-spacing: 0.1em;
	text-align: center;
	font-weight: normal;
}

.header__block {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.header__nav {
	display: flex;
	justify-self: center;
}

/*start-screen*/
.start-screen {
	width: 100%;
	height: 100vh;
	background: url("assets/img/start-screen/start-screen-gradient-background.png") no-repeat, url("assets/img/start-screen/start-screen-background.jpg") no-repeat;
	background-size: cover;
	overflow: hidden;
}
@media (max-width: 768px) {
	.start-screen {
		min-height: 1165px;
	}
}
@media (max-width: 575px) {
	.start-screen {
		min-height: 823px;
	}
}

.start-screen__block {
	display: flex;
	height: 100%;
	margin: 0 auto;
}
@media (max-width: 768px) {
	.start-screen__block {
		flex-direction: column;
	}
}

.start-screen__content {
	display: flex;
	flex-direction: column;
	max-width: 460px;
	margin: auto 42px auto 0;
	padding-top: 100px;
}
@media (max-width: 1024px) {
	.start-screen__content {
		width: 310px;
		margin: auto 12px auto 0;
	}
}
@media (max-width: 768px) {
	.start-screen__content {
		width: 100%;
		padding-top: 150px;
		margin: 0 auto;
	}
}
@media (max-width: 575px) {
	.start-screen__content {
		width: 300px;
	}
}

.start-screen__suptitle {
	max-width: 310px;
}

.start-screen__text {
	margin: 42px 0 41px 0;
}
@media (max-width: 575px) {
	.start-screen__text {
		text-align: center;
	}
}

.start-screen__button {
	background-color: #F1CDB3;
	max-width: 208px;
}
@media (max-width: 768px) {
	.start-screen__button {
		margin: 0 auto;
	}
}

.start-screen__dog {
	flex-grow: 1;
	margin-top: 180px;
	background: url("assets/img/start-screen/start-screen-puppy.png") no-repeat 50% 100%;
	background-size: contain;
}
@media (max-width: 768px) {
	.start-screen__dog {
		margin-top: 100px;
		margin-left: auto;
		min-width: 569px;
	}
}
@media (max-width: 575px) {
	.start-screen__dog {
		margin-top: 105px;
		margin-left: auto;
		min-width: 260px;
	}
}

.about {
	padding: 80px 0 100px;
	background-color: #fff;
}

.about__block {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
@media (max-width: 768px) {
	.about__block {
		flex-direction: column-reverse;
		max-width: 437px;
		margin: 0 auto;
	}
}

.about__image {
	background: url("assets/img/about/about-pets.png") no-repeat 50%;
	background-size: contain;
	flex-grow: 1;
	margin: 0 120px 0 0;
	max-width: 300px;
}
@media (max-width: 1024px) {
	.about__image {
		margin: 0 30px 0 0;
	}
}
@media (max-width: 768px) {
	.about__image {
		margin: 80px auto 0;
		width: 100%;
		height: 408px;
	}
}
@media (max-width: 575px) {
	.about__image {
		margin: 42px auto 0;
		width: 260px;
		height: 354px;
	}
}

.about__content {
	max-width: 548.5px;
	margin: 14px 0 14px 0;
}
@media (max-width: 768px) {
	.about__content {
		margin: 0;
	}
}

.about__suptitle {
	max-width: 370px;
}
@media (max-width: 575px) {
	.about__suptitle {
		max-width: none;
	}
}

.about__text {
	max-width: 430px;
}
.about__text:first-of-type {
	margin: 25px 0 25px;
}
@media (max-width: 768px) {
	.about__text {
		max-width: 436px;
	}
}

/*pets*/
.pets {
	padding: 80px 0 100px;
	background-color: #F6F6F6;
	overflow: hidden;
}

.pets__button {
	max-width: 262px;
	background-color: #F1CDB3;
	margin: 0 auto;
}

.pets__slider {
	margin: 60px auto;
	display: flex;
	justify-content: space-between;
	max-width: 990px;
}

.pets__card {
	display: flex;
	flex-direction: column;
	background-color: inherit;
	text-align: center;
	width: 270px;
}

.pets__element {
	padding: 0 41px 30px;
	border-radius: 0 0 9px 9px;
	background-color: #fff;
}

.shop-button {
	padding: 13px 43px 13px;
	border: 2px solid #F1CDB3;
	transition: 0.2s border-color linear, 0.2s background-color linear;
}

.product-name {
	font-family: Georgia, sans-serif;
	font-size: 20px;
	letter-spacing: 0.06em;
	line-height: 23px;
	margin: 30px 0;
}

.pets__suptitle {
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
}

.pets__image {
	background-color: #FAFAFA;
	border-radius: 9px 9px 0 0;
}

/*help*/
.help {
	background-color: #fff;
	padding: 80px 0 45px;
	overflow: hidden;
}

.help-container {
	width: 100%;
	height: 100%;
	max-width: 1280px;
	padding: 0 40px;
	margin: 0 auto;
}
@media (max-width: 768px) {
	.help-container {
		padding: 0 9px;
	}
}
@media (max-width: 575px) {
	.help-container {
		padding: 0;
	}
}

.help__suptitle {
	max-width: 310px;
	text-align: center;
	margin: 0 auto 60px;
}

.help__text {
	margin-top: 30px;
}
@media (max-width: 575px) {
	.help__text {
		line-height: 17px;
		font-size: 15px;
	}
}

.help__card {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 60px 55px;
}
@media (max-width: 1024px) {
	.help__card {
		width: 170px;
		margin: 0 30px 55px;
	}
}
@media (max-width: 575px) {
	.help__card {
		width: 130px;
		margin: 0 15px 55px;
	}
}
.help__list {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
}

/*donation*/
.donation {
	padding: 81px 0 101px;
	background-color: #F6F6F6;
}

.donation__block {
	display: flex;
	justify-content: center;
}

.donation__suptitle {
	max-width: 300px;
}

.donation__text {
	margin: 20px 0;
}

.donation__credit {
	display: flex;
	padding: 10px 15px;
	background-color: #F1CDB3;
	border-radius: 10px;
	max-width: 350px;
	margin-bottom: 20px;
}

.donation__credit-number {
	font-family: Georgia, sans-serif;
	line-height: 23px;
	font-size: 20px;
	color: #545454;
	letter-spacing: 0.06em;
	margin-left: 15px;
}

.donation__description {
	max-width: 380px;
}

.donation__image {
	margin: auto 30px auto 0;
}

/*footer*/
.footer {
	background: url("assets/img/footer/Footer.png") no-repeat, url("assets/img/footer/footer-background.png") no-repeat;
	background-size: cover;
	padding-top: 40px;
}

.footer__block {
	display: flex;
	flex-direction: row;
}

.footer__questions {
	display: flex;
	flex-direction: column;
	max-width: 280px;
	margin-top: 16px;
}

.footer__visit {
	display: flex;
	flex-direction: column;
	max-width: 302px;
	margin: 16px 160px 0;
}

.question-suptitle {
	color: #fff;
}

.visit-suptitle {
	color: #fff;
}

.footer__email {
	display: flex;
	margin: 40px 0;
}

.footer__icon {
	margin-right: 20px;
}

.footer__location {
	display: flex;
}
.footer__location:first-of-type {
	margin: 34px 0 32px;
}

.footer__text {
	margin: auto;
}