@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
	list-style-type: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*body*/
body {
	font-family: Arial, serif;
	font-size: 15px;
	line-height: 24px;
	color: #4C4C4C;
	font-weight: 400;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.section-button {
	display: block;
	color: #292929;
	font-family: Georgia, sans-serif;
	line-height: 22px;
	font-size: 17px;
	letter-spacing: 0.06em;
	padding: 15px 45px;
	border-radius: 25px;
	transition: 0.2s background-color linear;
}
.section-button:hover {
	background-color: #FDDCC4;
	border-color: #FDDCC4;
}

.gold {
	color: #F1CDB3;
}

/*Typography*/
.h5 {
	font-family: Georgia, sans-serif;
	line-height: 17px;
	font-size: 15px;
	color: #545454;
	letter-spacing: 0.06em;
}

.h4 {
	font-family: Georgia, sans-serif;
	letter-spacing: 0.06em;
	line-height: 23px;
	font-size: 20px;
}

.h3 {
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.06em;
	color: #545454;
	font-family: Georgia, serif;
}

.h2 {
	font-family: Georgia, sans-serif;
	color: #fff;
	font-size: 44px;
	line-height: 57px;
}

.paragraph-l {
	color: #CDCDCD;
}

.paragraph-s {
	color: #B2B2B2;
	font-size: 12px;
	line-height: 18px;
}

