/*donation*/
.donation {
	padding: 81px 0 101px;
	background-color: #F6F6F6;
}

.donation__block {
	display: flex;
	justify-content: center;

	@media (max-width:768px) {
		flex-direction: column-reverse;
		max-width: 505px;
		margin: 0 auto;
	}
}

.donation__suptitle {
	max-width: 300px;
	@media (max-width:575px) {		
			max-width: none;
	}
}

.donation__text {
	margin: 20px 0;
	@media (max-width:575px) {		
		letter-spacing: normal;
		text-align: center;
	}
}

.donation__credit {
	display: flex;
	padding: 10px 15px;
	background-color: #F1CDB3;
	border-radius: 10px;
	max-width: 350px;
	margin-bottom: 20px;
	@media (max-width:575px) {		
		max-width: 281px;	
		margin: 0 auto 20px;
	}
}

.donation__credit-number {	
	margin-left: 15px;
	@media (max-width:575px) {		
		line-height: 17px;
		font-size: 15px;		
	}
}

.donation__description {
	max-width: 380px;
	@media (max-width:768px) {		
		padding: 0 10px
	}
}

.donation__image {	
	flex-grow: 1;	
	background: url("assets/img/donation/donation-dog.png") no-repeat 50% 50%;
	background-size: contain;	
	max-width: 505px;	
	margin-right: 30px;	
	@media (max-width:768px) {		
		margin: 60px 0 0 0;
		height: 261px;
	}
	@media (max-width:575px) {		
		margin: 42px 20px 0;
		max-height: 135px;
	}
}

.donation__content {
	display: flex;
	flex-direction: column;
	max-width: 380px;
	@media (max-width:768px) {		
		margin: 0 auto;
	}
}