/*header*/
.header {
	position: absolute;
	width: 100%;
	margin-top: 60px;
	height: 60px;
	z-index: 1000;
	transition: .35s transform linear;
	@media (max-width:768px) {
		margin-top: 30px;
	}
	&.header-2 {
		margin-top: 30px;
	}
	overflow: hidden;
	
	&.active {
		right: 0;
		margin-top: 0;
		height: 100vh;
		width: 320px;
		min-height: 500px;
		background-color: #292929;

		.header__nav {
			visibility: visible;
			
			height: 100vh;
			width: 300px;
			margin-top: -30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			
		}

		.header__block {
			padding-top: 30px;
		}
		.container {
			padding: 0 10px;
		}

		.header__ul {
			height: 327px;
			width: 300px;
		}

		.header__li {
			margin-right: 0;
		}
		.logo {
			color: #F1CDB3;
		}
	
		.logo-suptitle {
			color: #fff;
		}

		.header__link {
			color: #cdcdcd;
			&.active {
				color: #fafafa;
			}
			&:hover {
				color: #fafafa;
			}
		}
	}
}

.animate {
	animation: ease-in1 .35s linear;
}

.animate-back {
	animation: ease-in2 .35s linear;
}
@keyframes ease-in1 {
	0% {
		transform: translateX(0);

	 }
	 100% {
		transform: translateX(320px);
	 }
}
@keyframes ease-in1 {
	0% {
		transform: translateX(320px);

	 }
	 100% {
		transform: translateX(0);
	 }
}
.header__link {
	line-height: 24px;
	padding-bottom: 5px;
	transition: 0.25s linear color;

	&.active {
		color: #fff;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: #F1CDB3;
			transition: 0.25s linear opacity;
		}
	}

	&.color-dark-l {
		&:hover {
			color: #292929;
		}
		&.active {
			color: #292929;
		}
	}

	&:hover {
		color: #fff;
	}

	@media(max-width: 767px) {
		font-size: 32px;
		line-height: 160%;
	}

}

.header__link2 {
	line-height: 24px;
	padding-bottom: 5px;
	transition: 0.25s linear color;

	&.active {
		color: #292929;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: #F1CDB3;
			transition: 0.25s linear opacity;
		}
	}

	&:hover {
		color: #292929;
	}

}

.header__link:fisrt-child {
	color: #fff;
}

.header__ul {
	display: flex;
	@media(max-width: 767px) {
		position: absolute;
		left: 0;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.nav-toggle {
	z-index: 100;
	display: none;
	width: 30px;
	height: 22px;
	margin: auto 23px auto 0;
	background-color: inherit;
	border-top: 2px solid #F1CDB3;
	border-bottom: 2px solid #F1CDB3;
	transition: .35s transform ease-in-out;
	
	@media(max-width: 767px) {
		display: block;
	}
	@media(max-width: 575px) {
		margin: auto 43px auto 0;
	}

	&.dark {
		border-color: #000;
		&:after {			
			background-color: #000;
		}
	}

	&:after {
		content: '';
		display: block;
		height: 2px;
		width: 100%;
		background-color: #F1CDB3;
		margin-top: 0px;
	}
	&.active {
		transform: rotate(-90deg);
		margin: auto 43px auto 0;	
		&.dark {
			border-color: #F1CDB3;
			&:after {			
				background-color: #F1CDB3;
			}
		}
	}
}

.nav-black {
	border-color: #000;
	&:after {
		background-color: #000;
	}
}

.header__li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding-bottom: 5px;
	&:not(:last-child) {
		margin-right: 35px;
	}
	
}


.logo {	
	font-family: Georgia, sans-serif;
	font-size: 32px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: 0.06em;
}

.header__logo {
	z-index: 100;
}

.logo-suptitle {
	margin-top: 6px;
	
	font-size: 13px;
	letter-spacing: 0.1em;
	text-align: center;
	font-weight: normal;
}

.header__block {
	width: 100%;
	display: flex;
	justify-content: space-between;
	
}

.header__nav {
	display: flex;
	justify-self: center;
	@media(max-width: 767px) {
		position: absolute;
		visibility: hidden;
	}

}

