/*pets*/
.pets {
	padding: 80px 0 100px;
	background-color: #F6F6F6;
	overflow: hidden;
}

.pets__button {
	max-width: 262px;
	background-color: #F1CDB3;
	margin: 0 auto;
}

.pets__slider {
	margin: 60px auto;
	display: flex;
	justify-content: space-between;
	max-width: 990px;
}

.pets__card {
	display: flex;
	flex-direction: column;
	background-color: inherit;
	text-align: center;
	width: 270px;
}

.pets__element {
	padding: 0 41px 30px;
	border-radius: 0 0 9px 9px;
	background-color: #fff;
}

.shop-button {
	padding: 13px 43px 13px;
	border: 2px solid #F1CDB3;
	transition: 0.2s border-color linear,
					0.2s background-color linear;
}

.product-name {
	font-family: Georgia, sans-serif;
	font-size: 20px;
	letter-spacing: 0.06em;
	line-height: 23px;
	margin: 30px 0;
}

.pets__suptitle {
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
}

.pets__image {
	background-color: #FAFAFA;
	border-radius: 9px 9px 0 0;
}