@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito, sans-serif;
}

div.ant-row {
  position: relative;
  height: calc(100% - 50px);
}
@media (max-width: 891px) {
  div.ant-row {
    height: auto;
  }
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
