.covid {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 50px);

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.list-container {
  width: 100%;
  flex: 0 0 15vw;
}

.map-container {
  width: 100%;
  flex: 1;
}

.table-container {
  width: 100%;
  flex: 0 0 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (max-width: 900px) {
    flex-direction: row;
  }
}
