.pets-big {
	width: 100%;
	padding: 80px 0 100px;
	background-color: #f6f6f6;
}

.pets-big__suptitle {
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 45px;
}

.pets-big__slider {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.slider-item-1 {
	margin: 15px 20px;
}