.table-element {
  padding: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  width: 360px;
  max-height: 40vh;
  background-color: #2a2a2a;
  border-radius: 15px;
  overflow: auto;

  .tr {
    border-collapse: collapse;
    border-bottom: 1px solid #bcccdc;
  }

  .th {
    text-align: left;
    margin: 0;
    padding: 0.5rem;
    font-size: 16px;
    color: #fff;
  }

  .td {
    display: flex !important;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    font-size: 16px;
    position: relative;
    color: #e60000;
    font-weight: bold;
    &:first-child {
      color: #d6d6d6;
    }
    &:last-child {
      color: #e60000;
      font-weight: bold;
    }
  }
}

.table {
  background-color: #000;
  overflow: auto;
}

.covid {
  background-color: #525252;
}

.table-filter {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 18px;
  color: #d6d6d6;
  align-items: center;
  margin-bottom: 5px;
}

.table-type {
  margin: 0 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #999;
}
::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #999;
}
::-webkit-resizer {
  background-color: #666;
}

::-webkit-input-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
} /* Firefox 19+ */
:-moz-placeholder {
  font-style: italic;
} /* Firefox 18- */
:-ms-input-placeholder {
  font-style: italic;
}
