@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
font-size: inherit;
font-weight: inherit;
}

/* ---------------------------------- */

body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.4em;
}


/*section*/
.container {
	width: 100%;
	max-width: 1092px;
	padding: 0 15px;
	margin: 0 auto;
}

.section-button {
	line-height: 16px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	background-color: #00AFDB;

	padding: 15px 47px;
	transition: 0.2s background-color linear;
}

.section-button:hover {
	background-color: #009CC2;
}

.section-suptitle {
	max-width: 370px;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	color:#373737;
}

.section-text {
	font-size: 14px;
	line-height: 140%;
	color: #4E4E4E;
	max-width: 407px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 20px 0 30px;
}


.section-text2 {
	font-size: 14px;
	line-height: 140%;
	color: #4E4E4E;
	max-width: 407px;
	
	margin: 20px 0 30px;
}

.section-text3 {
	font-size: 14px;
	line-height: 140%;
	color: #4E4E4E;
	max-width: 470px;
	text-align: center;
	margin: 20px 0 30px;
}


/*header*/
.header {
	position: absolute;
	width: 100%;
	padding: 25px 0;
}

.header__list {
	display: flex;
	justify-content: center;
	max-width: 585px;
	margin: 0 auto;
}

.header__li {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__li a:visited,
.header__li a {
 color: rgba(255,255,255,0.8);
 transition: 0.2s color; 
}

.header__list li:nth-child(3) {
	margin: 0 100px;
}

.header__list li:nth-child(3n+2) {
	margin-left: 85px;
}

.header__list li:last-child {
	margin-right: 10px;
}

.header__li a {
	position: relative;
}

.header__li a:hover {
	color: white;
}

.header__li a::after {
	content: "";
	opacity: 0;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	margin-top: 1px;
	transition: 0.2s opacity;
}

.header__li a:hover::after {
	opacity: 1;
}


/*your-life*/
.your-life {
	background: url('assets/img/bg-image.jpg') no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100vh;
	min-height: 500px;
	display: flex;
	flex-direction: column;
}

.your-life__title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	color:#fff;
	letter-spacing: 4.5px;

	max-width: 804px ; 
	margin: 0 auto;
}

.your-life__text {
	font-size: 18px;
	color: #fff;
	line-height: 140%;

	text-align: center;
	max-width: 504px ;
	margin: 20px auto 30px;

}

.your-life__button {	
	margin: 0 auto;
}

.your-life__block {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;

	width: 100%;
	flex-grow: 1;
	padding-top: 48px;


}


/*social*/
.social-block {
	display: flex;
	justify-content: space-between;
	width: 170px;
	height: 20px;
	flex-grow: 0;
	padding-bottom: 109px;
	margin: 0 auto auto ;
}


/*rappresent*/
.rappresent__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.rappresent {
	padding: 120px 0 140px;
}

.rappresent__section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rappresent__button {
	margin-right: auto;
}


/*our-community*/
.our-community {
	padding: 82px 0 140px;
	background-color: #F5F6F7;
}

.our-community__suptitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #373737;
	letter-spacing: 2.4px;
	text-align: center;
	text-transform: uppercase;

	margin: 20px 0 10px;
}


.our-community__block {
	display: flex;
	flex-direction: column;
	max-width: 298px;
	margin-right: 139px;
	justify-content: center;
}

.our-community__text {
	text-align: center;
}

.our-community__container {
	width: 100%;
	max-width: 1346px;
	padding-left: 15px;
	margin-left: auto;

}

.our-community__slider {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

.our-community__arrows {
	margin-left: auto;
	margin-right: 269px;
	margin-bottom: 20px;
}

.our-community__nav-items {
	display: flex;
}

.our-community__nav-item {
	display: flex;
	transition: 0.2s opacity ease;
}

.our-community__slider-block {
	display: flex;
}

.our-community__nav-item:nth-child(2) {
	margin: 0 14px;
}

.our-community__nav-item:hover:not(:nth-child(2)) {
	opacity: 0.5;
	cursor: pointer;
}

.our-community__img:nth-child(2) {
	margin: 0 30px;
}

.our-community__section {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}


/*implement*/
.implement {
	padding: 120px 0 140px;
}

.implement__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 110px;
}

.implement__section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/*subscribe*/
.subscribe {
	background: url('assets/img/pexels-christina-morillo-11816751.jpg') no-repeat;
	background-size: cover;
	background-position: 50% 0%;
	width: 100%;
	padding: 200px 0 220px;
}

.subscribe__form {
	display: flex;
	flex-direction: column;
	max-width: 406px;
	margin: 0 auto;
}

.subscribe__label {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.subscribe__button {
	margin: 30px auto 0;
	display: flex;
	flex-direction: row;
	width: 100%;

}

.subscribe__text {
	padding: 14px 0 12px 24px;
	flex-grow: 1;
}

.subscribe__text::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 140%;
	color: #373737;
}

.subscribe__submit {
	flex-grow: 0 ;
	width: 66px;
	height: 46px;
	border-radius: 0px;

	background: #00AFDB url("assets/img/icons/fa-check.svg") no-repeat;
	background-position: 50% 50%;
	transition: 0.2s background-color linear;
}

.subscribe__submit:hover {
	background-color: #009CC2;
	cursor: pointer;
}


/*download*/
.download {
	border-color: #F5F6F7;
	padding: 120px 0 180px;
	background-color: #F5F6F7;
}

.download-container {
	width: 100%;
	max-width: 500px;
	padding: 0 15px;
	margin: 0 auto;
}

.download__label {
	background-color: #00AFDB;
	padding: 15px 0 15px 16px;

	line-height: 16px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;

	cursor:pointer;
	flex-grow: 1;
	transition: 0.3s background-color ease-in-out;
}

.download__button {
	width: 60px;
	height: 46px;
	cursor:pointer;
}

.download__form {
	display: flex;
	width: 186px;
}

.download__form:first-child{
	margin-right: 30px;
}

.download__form:hover .download__label {
	background-color: #009CC2;
}

.play-market {
	background: #009CC2 url('assets/img/icons/icon-android.svg') no-repeat 50% 50%;
}

.appstore {
	background: #009CC2 url('assets/img/icons/icon-apple.svg') no-repeat 50% 50%;
}

.download__block {
	display: flex;
	justify-content: center;
}

.download__suptitle {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	color:#373737;
}


/*footer*/
.footer {
	background-color: #000;
	padding: 60px 15px 80px;
}

.footer__container {
	width: 100%;
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}

.footer__block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__ul {
	display: flex;
	justify-content: space-between;
	
}

.footer__li {
	color: #fff;
	opacity: 0.98;

	transition: 0.2s opacity;
}

.footer__li:hover {
	opacity: 0.7;
}

.footer__ul li:not(:last-child)::after {
	content: "";
	display: inline-block;
	margin-left: 20px;
	width: 1px;
	height: 8px;
	background-color: #4E4E4E;
}

.footer__nav {
	max-width: 236px;
	width: 100%;
	margin: auto 0;
}

.footer__text {
	color: #818181;
	text-align: center;
	margin: auto 0;
	max-width: 236px;
	width: 100%;
	text-align: right;
}
