@charset "UTF-8";
/*Обнуление*/
* {
padding: 0;
margin: 0;
border: 0;
}

*, *:before, *:after {
box-sizing: border-box;
}

:focus, :active {
outline: none;
}

a:focus, a:active {
outline: none;
}

nav, footer, header, aside {
display: block;
}

html, body {
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input, button, textarea {
font-family: inherit;
}

input::-ms-clear {
display: none;
}

button {
cursor: pointer;
}

button::-moz-focus-inner {
padding: 0;
border: 0;
}

a, a:visited {
text-decoration: none;
}

a:hover {
text-decoration: none;
}

ul li {
    list-style: none;
}

img {
vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
font-size: inherit;
font-weight: inherit;
}

/* ---------------------------------- */

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
}

/*section*/
.container {
    width: 100%;
    max-width: 1092px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-button {
    line-height: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: #00AFDB;

    padding: 15px 47px;   
    transition: 0.2s background-color linear;
}

.section-button:hover {
    background-color: #009CC2;
}

.section-suptitle {
    max-width: 370px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color:#373737;
}

.section-text {
    font-size: 14px;
    line-height: 140%;  
    color: #4E4E4E;
    max-width: 407px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 0 30px;
}


.section-text2 {
    font-size: 14px;
    line-height: 140%;  
    color: #4E4E4E;
    max-width: 407px;
    
    margin: 20px 0 30px;
}

.section-text3 {
    font-size: 14px;
    line-height: 140%;  
    color: #4E4E4E;
    max-width: 470px;
    text-align: center;
    margin: 20px 0 30px;
}
/*header*/

.header {
    position: absolute;
    width: 100%;
    padding: 25px 0;
}

.header__list {
    display: flex;
    justify-content: center;
    max-width: 585px;
    margin: 0 auto;
}

.header__li {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__li a:visited,
.header__li a {
   color: rgba(255,255,255,0.8);
   transition: 0.2s color;   
}

.header__list li:nth-child(3) {
    margin: 0 100px;
}

.header__list li:nth-child(3n+2) {
    margin-left: 85px;
}

.header__list li:last-child {
    margin-right: 10px;
}

.header__li a {
    position: relative;
}

.header__li a:hover {
    color: white;
}

.header__li a::after {
    content: "";
    opacity: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    margin-top: 1px;
    transition: 0.2s opacity;
}

.header__li a:hover::after {
    opacity: 1;
}

/*your-life*/
.your-life {
    background: url('assets/img/bg-image.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.your-life__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color:#fff;
    letter-spacing: 4.5px;

    max-width: 804px ; 
    margin: 0 auto;  
}

.your-life__text {
    font-size: 18px;
    color: #fff;
    line-height: 140%;

    text-align: center;
    max-width: 504px ;
    margin: 20px auto 30px;

}

.your-life__button {    
    margin: 0 auto;
}

.your-life__block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    width: 100%;
    flex-grow: 1;
    padding-top: 48px;


}